.login-page {
    background-image: url('../../public/img/employees-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* CSS */
.btn-clock-in, .btn-clock-out {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 0px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-nonactive {
    background-color: #4e4e4e;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 0px 2px 0 0;
    color: #c5c5c5;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-nonactive:hover {
  cursor: default;
}

.btn-clock-in:hover, .btn-clock-out:hover {
  background-color: #fff;
}

.btn-clock-in:active, .btn-clock-out:active {
  box-shadow: #422800 0px 2px 0 0;
  transform: translate(0px, 2px);
  -webkit-transform: translate(0px, 2px);
  -moz-transform: translate(0px, 2px);
  -ms-transform: translate(0px, 2px);
  -o-transform: translate(0px, 2px);
}

/* time off */
.card-time-off {
  width: 650px;
}

.reason-textarea {
  resize: none;
  height: 200px;
}

.offcanvas {
  z-index: 1060 !important; /* lebih tinggi dari modal */
}

.nav-link.active {
  background-color: #007bff;
}

@media (min-width: 768px) {
  .btn-clock-in, .btn-clock-out {
    min-width: 120px;
    padding: 0 25px;
  }

}

@media (max-width: 768px) {
  /* time off */

  .card-time-off{
    width: 300px;
  }
}
